
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Honk&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:wght@500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:opsz,wght@8..60,900&display=swap');


body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    align-items: center;
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}



.contain1__section h1 {
    
    margin-top: 100px;
    font-size: 20pt;
    font-weight: 700;
    font-family: "Exo 2", sans-serif;
    color: aliceblue;
    
}
.contain3__section2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.contain3__section2 input {
    height: 40px;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    font-family: "Exo 2", sans-serif;
    
}
.contain3__section2 button {
    border-radius: 30px;
    height: 40px;
    width: 80px;
    border: none;
}

.contain4__section {
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 7px;
    margin-top: 100px;
    height: 380px;
    width: 326px;
    
}

.teste{
    display: none;
}

.butao {
    border-radius: 30px;
    height: 40px;
    width: 80px;
    border: none;
   
}